body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background: #fff;
}

.container {
    background-image: url(https://images.pexels.com/photos/7116581/pexels-photo-7116581.jpeg?auto=compress&cs=tinysrgb&w=300);
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.temp{
    text-align:justify;
    font-size: 10px;
    font-family:cursive;
    
}

.more{
    display: block;
    margin:0 auto;
    font-size: 20px;
    padding: 20px;
    padding-bottom: 50px;
    border-radius: 10px;
    text-decoration: underline;
}

h2{
    font-size: 20px;
}

.units {
    font-size: 16px;
    
}

.weather-temperature strong {
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
}

.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -34px;
}

.weather-temperature .active {
    color: rgb(33, 33, 33);
    cursor: default;
}

.weather-temperature .active:hover {
    text-decoration: none;
}