body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background: #fff;
}

.container {
    background-image: url(https://images.pexels.com/photos/7116581/pexels-photo-7116581.jpeg?auto=compress&cs=tinysrgb&w=300);
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}